/* 全局样式 { */
body {
  width: 100%;
  height: 100%;
  /* min-height       : 600px; */
  margin: 0 auto;
  color: #cccccc;
  background-color: #333333;
  font-weight: 300;
  font-family: monospace, Arial, sans-serf;
  overflow: hidden;
}
input {
  border: 0;
  padding: 0;
}
button {
  font-family: monospace, Arial, sans-serf;
}
h3 {
  margin: 5px;
}
h3:hover {
  color: #ffffff;
}
header {
  background-color: #000000;
  padding: 1px;
}
section {
  margin-bottom: 3em;
}
section p {
  text-align: justify;
}
svg {
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
}
.align-center {
  text-align: center;
}
/* } */
/* 图以外的样式 { */
div#canvas {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
div#right-panel {
  background-color: #000000;
  float: right;
  height: auto;
  max-height: 100%;
  min-height: 50px;
  min-width: 50px;
  opacity: 0.6;
  padding: 5px;
  position: absolute;
  right: 5px;
  top: 40px;
  width: auto;
}
div#right-panel hr {
  border: 0;
  border-bottom: 1px dashed #cccccc;
  background: #333333;
}
div#right-panel button {
  display: block;
  width: 100%;
}
div#right-panel:hover {
  opacity: 0.9;
}
input#module-q {
  width: 100%;
}
div#namespaces {
  overflow-y: scroll;
}
/* } */
/* 图定制样式 { */
g > .type-default > rect {
  fill: #f2572d;
}
g > .type-core > rect {
  /* fill: @color-content-warning; */
  fill: #008972;
}
g > .type-common > rect {
  fill: #0067a6;
}
g.node rect {
  overflow: hidden;
  stroke: #000000;
  stroke-width: 1px;
}
g.node div {
  color: #ffffff;
  font-family: monospace, Arial, sans-serf;
  font-size: 14px;
  padding: 2px;
}
g.edgePath path {
  stroke: #cccccc;
  stroke-width: 1px;
  fill: none;
}
g.edgePath path:hover {
  stroke: #efc028;
  stroke-width: 2px;
  fill: none;
}
/* } */
