{
  "extends": [
    "eslint-config-airbnb"
  ],
  "globals": {
    "window": true,
    "$": true,
    "document": true,
    "module": true
  },
  "rules": {
    "max-len": [
      "error",
      120,
      4,
      {
        "ignoreUrls": true
      }
    ],
    "no-param-reassign": 0,
    "no-mixed-operators": 0
  }
}
